* {
    margin: 0;
    padding: 0;
}

.container1 {
    display: flex;
    /* width: 100%; */
}

.menu {
    width: 250px;
}

.border-div {
    border-bottom: 1px solid black;
}

.main div {
    margin: 10px 0px;
}

.profile img {
    width: 150px;
}

#education img {
    width: 100px;
}

.profile {
    /* display: flex;
    align-items: center; */
}

.footer {
    /* bottom: 1%; */
    /* display: flex;
    justify-content: center;
    text-align: center; */
    /* align-items: center; */
    margin: 0 auto;
    position: fixed;
    bottom: 5px;
}

.footer > label {
    margin: 0px 1px;
}

.skill-row { /* maybe not? */
    display: flex;
    justify-content: space-evenly;
}

.parallax {
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grass {
    background-image: url("assets/grass_field.png");
}

.forest {
    background-image: url("assets/forest.jpg");
}

.snow {
    background-image: url("assets/snowy_plains.jpg");
}